Chapter_11_Code/UnitConversionClient/src/META-INF/wsdl/localhost_8080/UnitConversion/UnitConversion.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservices.ensode.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservices.ensode.com/">

<xs:element name="centimetersToInches" type="tns:centimetersToInches"/>

<xs:element name="centimetersToInchesResponse" type="tns:centimetersToInchesResponse"/>

<xs:element name="inchesToCentimeters" type="tns:inchesToCentimeters"/>

<xs:element name="inchesToCentimetersResponse" type="tns:inchesToCentimetersResponse"/>

<xs:complexType name="centimetersToInches">
<xs:sequence>
<xs:element name="centimeters" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="centimetersToInchesResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inchesToCentimeters">
<xs:sequence>
<xs:element name="inches" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inchesToCentimetersResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>